@using ChessApp.Data;
@using ChessApp.Data.Board;
@using BlazorState
@using ChessApp.Features.Chess;

@inherits BlazorStateComponent

<div @onmousedown="MouseDown" @onmouseup="MouseUp" class="square @ChessState.GetSquareColour(pos)">
    <p class="file-letter">
        @if ((pos.Rank == 1 && !isFlipped) || (pos.Rank == 8 && isFlipped))
            {
                @pos.File
            }    
    </p>
    <p class="rank-num">
        @if ((pos.File == 'a' && !isFlipped) || (pos.File == 'h' && isFlipped))
            {
            @pos.Rank
            }
    </p>
    @if (piece != Piece.None)
    {
        if (pos.Equals(movingPiece))
        {
            moving = "moving";
        } else
        {
            moving = "";
        }
        <img draggable="false" 
             class="piece @moving"
             src="images/@(piece).svg"
          
             style="top: calc(@(mousePos.Y - start.Y)px - 50%); left: calc(@(mousePos.X - start.X)px - 50%)" />
    }
    
    <div class="inv"></div>
</div>

@code {
    [Parameter]
    public Position pos { get; set; }

    ChessState chessState => GetState<ChessState>();
    private Piece piece => chessState.GetPiece(pos.File, pos.Rank);
    private bool isFlipped => chessState.IsFlipped;
    public Coord mousePos => chessState.MousePos;
    public Position movingPiece => chessState.MovingPositon;

    public Coord start = new Coord(0, 0);
    public string moving = "";

    async Task MouseDown(MouseEventArgs e)
    {
        if (e.Button == 0) // If Left Click
        {
            start.X = (int)(e.PageX - e.OffsetX);
            start.Y = (int) (e.PageY - e.OffsetY);
            await Mediator.Send(new ChessState.MovingPieceAction { MovingPos = pos });
            await Mediator.Send(new ChessState.MoveMouseAction { MousePos = new Coord((int)e.PageX, (int)e.PageY) });

            // Set the Position In the state
        }
    }

    async Task MouseUp(MouseEventArgs e)
    {
        if ((e.Buttons & 1) != 1) // If Left Not Left Clicking
        {
            // MovePiece with the Postion in the state and current
            if (pos.Equals(movingPiece) && !movingPiece.Equals(new Position('0', 0)))
            {
                await Mediator.Send(new ChessState.MovingPieceAction { MovingPos = new Position('0',0) });
                return;
            }
            await Mediator.Send(new ChessState.MovePieceAction { NewPosition = pos, OldPosition = movingPiece });
    }
    }
}
